header {
  position: fixed;
  background-color: transparent;
  font-size: 1.3rem;
  font-weight: 600;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: white;
  position: fixed;
  height: 50px ;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

footer {
  position: fixed;
  background-color: #000000;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  position: fixed;
  height: 40px ;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
.page_heading {
  padding-top: 60px;
  color: black;
  bottom: 50%;
  z-index: 999;
}